TELEGRAM_BOT_TOKEN=8596061120:AAEF7d2C8fZbLO6MfBWFFXDvr6y_US6cMyU
TIGER_API_KEY=your_tigersms_api_key
TIGER_BASE_URL=https://api.tigersms.org/stubs/handler_api.php
CRYPTOBOT_API_TOKEN=your_cryptobot_token
CRYPTOBOT_BASE_URL=https://pay.crypt.bot/api
PAYMENT_ASSET=USDT
DEFAULT_COUNTRY=ru
DEFAULT_MAX_PRICE=35
SUPPORT_USERNAME=@support
